.SmallerText {
	font-family: Tahoma;
	font-size: 11px;
}

.Default {
	font-family: Tahoma;
	font-size: 12px;
}

.SmallerButtonText {
	font-family: Tahoma;
	font-size: 11px;
}

.Explanation {
	font-family: Tahoma;
	font-size: 11px;
}


