.SmallerText {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.SmallerButtonText {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Explanation {
	font-family: Lucida Grande;
	font-size: 11px;
}


